# Note : 2+4, 2 and 4 are operands and + is the operator

# Relational Operators

In [1]:
#greater than
2>3  #output of any relational or logical operation is a Boolean value i.e. either True or False

False

In [5]:
2<=3   # 2 is less than OR equals to 3

True

In [8]:
3 == 3

True

In [9]:
3 != 3

False

# Logical Operators

In [13]:
# and 
age = 17

# 18 >= 18 and 18 <= 35
age >= 18 and age<=35
#conclusion: and operator results to True only if all the relations are True

False

In [16]:
# or
# pass = True 
# math = True  #True means pass
# science = False #False means fail

# to be pass
# math and science  #failed in Science so, overall result is fail


# measuring as fail
math = True #True is fail
science = False # False is pass
computer = False
#to check fail
math or science or computer

True

In [18]:
# not

not True

not False

True

In [31]:
age = 17
# senior = age > 18
# not senior
junior = age < 18
# junior
not junior

False

# Control Flow statement

 1. Conditional Statement
 2. Looping Statement

1. 1. If Statement

In [38]:
age = 20
junior = age < 18

if junior:  #: is called as colon, ; is called as semi-colon
    print("You are not allowed to enter Club")
    print("alksdfj")

print("last")

last

1. 2. If else statement

In [40]:
# age = 20
# junior = age < 18

# if junior:  #: is called as colon, ; is called as semi-colon
#     print("You are not allowed to enter Club")
# else:
#     print("Welcome to club, ENJOY !!!")


age = 20
senior = age >= 18


if not senior:  #: is called as colon, ; is called as semi-colon
    print("You are not allowed to enter Club")
else:
    print("Welcome to club, ENJOY !!!")

Welcome to club, ENJOY !!!

1. 3. If elif else statement

In [43]:
college_year = 2
fresher = college_year == 1
senior = college_year > 1

if fresher:
    print("Warm Welcome to our college")
elif senior:
    print("welcome senior")
#elif next condition
#elif next condition
#elif next condition
else:
    print("Who are you !")

welcome senior

In [45]:
age = 16
adult = age>=16
voter = age >= 18
gender = "male"

if adult:
# if age>=:
    print("You are eligible for citizenship")
else:
    print("You are not eligible for citizenship")


if voter:
    print("You can vote")
else:
    print("Sorry, you can't vote")

You are eligible for citizenship
Sorry, you can't vote

In [ ]:
age = 16
adult = age>=16
voter = age >= 18
gender = "male"

if adult:
    print("You are eligible for citizenship")
    if voter:
        print("You can vote")
    else:
        print("Sorry, you can't vote")
        #if 
        #else
else:
    print("You are not eligible for citizenship")

# if adult and voter:
#     print("You can vote")

2. Looping statements

1. For loop

In [59]:
# for letter in "ram":
#     print(letter)

# print("hello")
# print("hello")
# print("hello")
# print("hello")
# print("hello")
# for _ in range(5):
#     print("hello")

#range(5) => 0,1,2,3,4, here 5 represents ending index
#range(1,5) => here 1 means starting index, 5 means ending index
#range(1,10,2)=> here 1 means starting index, 10 means ending index, and 2 means step value
# for index in range(1,10,2):
#     print(index)

# print odd numbers from 80-90
# for row_number in range(80, 91):
#     odd = row_number % 2 == 1
#     if odd:
#         print(row_number)
# for number in range(81, 91, 2):
#     print(number)



for row_number in range(1, 11):
    odd = row_number % 2 == 1
    if odd:
        print(row_number, "blue")
    else:
        print(row_number, "white")

1 blue
2 white
3 blue
4 white
5 blue
6 white
7 blue
8 white
9 blue
10 white