# Variables

## it's a reference to a memory location

### comment is simple text which explains the code
 1. #is known as single line comment
 2. ''' or """ is known as multiline comment

In [1]:
'''
this is introduction to variables in 
python
'''

a = 5
# print(a)   # is called as comment

### rules for naming variables

1. variable name must start with a letter or an underscore

In [2]:
#5a = 25 this is wrong  
_5a = 25 # this is correct, since variable name starts with (_)

2. if variable name is more than one word, join them with (_) i.e. follow snake_case

In [3]:
user_address = "kathmandu"
user_address = 'kathmandu'
user_address = """kathmandu"""

In [4]:
a = 5
a = 10
print(a)

10

3. reserved words cannot be used as variable names

In [5]:
#if = 5 #here 'if' is an reserved word, so this cannnot be used as variable name

In [6]:
_if = 5
#student information
name = "ram"
age = 25
class_name = 10
gender = 'M'

In [7]:
print(name, age, class_name)

ram 25 10

4. variable names should be meaningful

In [8]:
n = "ram" 
# rather than writing short, meaningless variable names, write short meaningful variable names 
student_name = "r"
print(type(student_name))

<class 'str'>

# Basic Data types in python

In [1]:
# integer -> number (but not decimal number)
age = 25

# string -> character or just combination of character
name = "ram"

# float -> number i.e decimal or fractional number
price = 9.99

# Boolean (bool) -> True/False or Yes/No or On/Off
is_raining = True
is_sunny = False

### since here, we used just one operator i.e. '=' which is called as assignment operator

In [2]:
#     +    
print(10+20)
# 1. 10 + 20 => 30
# 2. print( 30 )

30

In [3]:
print(10-20)
print(10*20)
print(10/20)

-10
200
0.5

### here, int/int => float , here this conversion is called as type casting
 1. Implicit type casting (automatic)
 2. Explicit type casting (manual)

In [4]:
#exlicit type casting
print(type(10))
a = float(10)
print(a)

<class 'int'>
10.0

In [5]:
print(10%2)  # mod => modulus => remainder

0

In [6]:
a = "10"
print(type(a))
a = int(a)
print(type(a))

<class 'str'>
<class 'int'>

# string operator

In [15]:
print("ram"+" "+"poudel")  #also called as string concatenation operation

ram poudel

# Formatted or simply F string

In [16]:
first_name = "Ram"
last_name = "Poudel"
# full_name = "{first_name} {last_name}"
full_name = f"{first_name} {last_name}"

print(full_name)

Ram Poudel

# Taking input from user

In [17]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name : ")
age = int(input("Enter your age: "))
# age = int(age)  #  '25'  => 25
message = f"You name first name is {first_name} and your last name is {last_name}. Your current age is {age} and after 2 years your age will be {age+2}"

print(message)

You name first name is  Prakash and your last name is KC. Your current age is 34 and after 2 years your age will be 36